<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a Service Offer or an Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h3>Welcome, Edit The Details of the Offer / Event </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <form action="#" th:action="@{/editoffer/{id}(id=${singleOffer.id})}" th:object="${singleOffer}" method="post" enctype="multipart/form-data">
                    <div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-dismissable alert-info">
                                        <span>Events are free. Offers need time credit. If the duration is zero, it's an event, everyone can attend!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>
                                <label>
                                    Title
                                </label>
                            </th>
                            <td>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span type="text" th:text="${singleOffer.offerTitle}" />
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>
                                    Description
                                </label>
                            </th>
                            <td>

                                <div class="row">
                                    <div class="col-md-8">
                                        <span type="text" th:text="${singleOffer.offerDescription}" />
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </td>
                        </tr>
                       <tr>
                            <th>
                                <label>
                                    Start Date
                                </label>
                            </th>
                            <td>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span type="text" th:text="${singleOffer.startDate}" />
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th>
                                Start Time
                            </th>
                            <td style="alignment: left">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>
                                                <select class="browser-default custom-select">
                                                    <option th:text="${singleOffer.startTime}"><span th:text="${singleOffer.startTime}"></span></option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="browser-default custom-select">
                                                <option value="0">:00</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Duration
                            </th>
                            <td style="alignment: left">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="browser-default custom-select">
                                                <option th:text="${singleOffer.offerTimeAmount}"><span th:text="${singleOffer.offerTimeAmount}" /></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div th:if="${singleOffer.offerImagePath}">
                <img th:src="@{'/' + ${singleOffer.offerImagePath}}" class="img-responsive" style="max-height:200px;width:300px;">
            </div>
            <div class="jumbotron">
                <h2>
                    Location
                </h2>
                <p>
                    There will be a map here!!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>

</div>

</body>
</html>
